@page "/DeckView/{ID}"
@inject HttpClient Http
@inject ScryfallClient.ScryfallClient client
@using MillEngine.Shared.Models.DTOs
@using MillEngine.ScryfallClient.Models
<h3>DeckView</h3>

<div class="container">
    <div class="mcard-row">
        @foreach (var c in cards)
        {
            <div class="mcard">
                <img src="@c.ImageUris.Normal"/>
            </div>
        }
    </div>
</div>



@code {

    [Parameter] 
    public int ID { get; set; }

    public DeckEntry? deck;
    public Card[] cards;
    
    protected override async Task OnInitializedAsync()
    {
        deck = await Http.GetFromJsonAsync<DeckEntry>($"api/Decks/{ID}");
        cards = new Card[deck.DeckCards.Count];

        for (int i = 0; i < cards.Length; i++)
        {
            cards[i] = await client.CardsClient.GetById(deck.DeckCards[i].ScryfallId);
            StateHasChanged();
        }
    }

}