@page "/DeckView/{ID:int}"
@using MillEngine.Shared.Models.DTOs
@using MillEngine.ScryfallClient.Models
@using MillEngine.Client.Components
@using MillEngine.Client.Memory
@inject HttpClient Http
@inject ScryfallClient.ScryfallClient client
@inject DeckStateContainer deckContainer
@implements IDisposable
<h3>DeckView</h3>

<div class="container">
    
    <ScryfallCardSearch/>
    
    <div class="mcard-row">
        @if (cards != null)
        {
            @foreach (var c in cards)
            {
                <MagicCard MCard="@c"/>
            }
        }
        else
        {
            <p>Loading Cards...</p>
        }
    </div>
</div>


@code {

    [Parameter]
    public int Id { get; set; }
    
    public List<Card>? cards = new();

    protected override async Task OnInitializedAsync()
    {
        deckContainer.OnChange += StateHasChanged;

        foreach (var cardEntry in deckContainer?.SavedDeck.DeckCards)
        {
            var card = await client.CardsClient.GetById(cardEntry.ScryfallId);
            cards?.Add(card);
        }

        StateHasChanged();
    }

    public void Dispose()
    {
        deckContainer.OnChange -= StateHasChanged;
    }

}