@page "/MagicCard/{MCard}"
@using MillEngine.ScryfallClient.Models
@using MillEngine.ScryfallClient
@inject ScryfallClient client


<div class="mcard">
    @if (IsMultiFace())
    {
        <img src="@MCard.CardFaces?.ElementAt(0).ImageUris.Small" alt="@MCard.Name"/>
    }
    else
    {
        <img src="@MCard.ImageUris?.Small" alt="@MCard.Name"/>
    }
</div>

@code {

    [Parameter]
    public Card MCard { get; set; } = new();

    // All layouts that have multiple faces
    private string[] _dualLayouts = ["split", "flip", "transform", "double_faced_token"];

    private bool IsMultiFace()
    {
        return _dualLayouts.Contains(MCard.Layout);
    }
    
}