@page "/MagicCard/{MCard}"
@using MillEngine.ScryfallClient.Models
@inject MillEngine.ScryfallClient.ScryfallClient client


<div class="mcard">
    <img src="@MCard.ImageUris.Normal"/>
</div>

@code {

    [Parameter]
    public Card MCard { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        
    }
}